<!DOCTYPE html>
<html>
<head>
    <title>Random Movie</title>
</head>
<body>
    <h1>{{ movie.name_ru }}</h1>
    <p><strong>Длина:</strong> {{ movie.film_length }} мин.</p>
    <p><strong>Описание:</strong> {{ movie.description }}</p>
    <p><strong>Постер:</strong></p>
    <img src="{{ movie.poster_url }}" alt="Movie Poster">
    <p><strong>Сериал:</strong> {% if movie.serial %}Да{% else %}Нет{% endif %}</p>
    <p><strong>Рейтинг Кинопоиска:</strong> {{ movie.rating_kinopoisk or '-' }}.</p>
    <p><strong>Рейтинг imdb:</strong> {{ movie.rating_imdb or '-' }}.</p>
    <p><strong>Год выпуска:</strong> {{ movie.year }}</p>
</body>
</html>
